#image-container{
    padding-left: 40%;
    padding-top: 5%;
}
.card{
     box-shadow: 0 5px 5px black;
}
.button{
    border: none;
    border-radius: 40%;
    color: red;
}
.comment-button{
    border: none;
    border-radius: 5px;
    background-color: rgb(100, 100, 165);
}